{% extends "base.html" %}

{% block main %}
  <div class="login-form center-block">
    <h2>Create Meal Plan</h2>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('getcaloriecount') }}" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
	  
      <div class="form-group">
        {{ form.caloriecount.label }}
        {{ form.caloriecount(class='form-control', placeholder="Enter the max calorie count.") }}
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
  </div>
{% endblock %}